@model IEnumerable<Coinsways.Entities.PlanDetail>
@{
    ViewBag.Title = "Home::";
}

<section class="inv_plans">
    <div data-parallaxify-range-x="-30" class="parallax ip_parallax_1"></div>
    <div data-parallaxify-range-x="30" class="parallax ip_parallax_2"></div>
    <div class="container">
        <h1>Our investment plans</h1>
        <div class="separator_2"><span></span></div>
        @{
            int index = 0;
            foreach (var item in Model)
            {
                if (index == 0)
                {
                    @Html.Raw("<ul class='plans_cont clearfix'>")
                }
                else if (index % 4 == 0)
                {
                    @Html.Raw("<ul class='plans_cont clearfix gtyuer'>")
                }

                <li class="plan_1 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">$@item.MinAmount-$@item.MaxAmount<br>2%
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$@item.MinAmount</span></div>
                        <div>- Maximum: <span>$@item.MaxAmount</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>@item.ForDays Days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href='/account/register'">Sign up</span></div>
                </li>

                index++;
                if (index % 4 == 0)
                {
                    @Html.Raw("</ul>")
                }
            }
}

    </div>
</section>
<div id="main-about">
    <!--start company about-->
    <div id="sub-about">
        <div class="video zoomIn  wow animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: zoomIn;">
            <img src="~/Images/video-2.jpg" height="332">
        </div>
        <div class="about-right slideInRight  wow animated" data-wow-duration="2s" style="visibility: visible; animation-duration: 2s; animation-name: slideInRight;">
            <div class="about-head">
                <h4>ABOUT COINSWAYS LIMITED</h4>
            </div>
            <div class="about-text">
                <p> COINSWAYS may be a future, stable and profitable fund. presently we've variety of profitable areas, like Forex market commercialism exchange commercialism, Cryptocurrency market commercialism and finance in varied funds and activities.<br><br>  Processing Re-write Suggestions Done (Unique Article) Profits from these investments square measure wont to enhance our program and increase its stability for the future. Our high practiced and gifted team of traders with distinctive ways and techniques supported priceless wealth of expertise will create that the your cash can work for you underneath their practiced and careful management. Join us!</p>
            </div>
            <div class="read-morea">

            </div>
        </div>
    </div>
</div>


<section class="home_about">
    <div class="container clearfix">
        <div class="about">
            <h2>Welcome to  COINSWAYS Website</h2>
            <div class="separator_1"><span></span></div>
            <div class="text">
                <p>
                    Are you yearning for stable financial gain from your investments? we will assist you by providing the mandatory platform. The  COINSWAYS is trendy investment trust from the India. The company's business is closely associated with commerce activity within the multi-currency Forex market, moreover as on the exchange. Currently, Bitspayu is stepping into a replacement part of its development. Since we've got begun to induce stable and high profit we'd like new investment interactions.
                </p>
                <p>
                    Our company has developed and launched an internet platform for investors that permits creating deposits and regular accruals of profits in automatic mode. this may facilitate America to multiply our gift profit level persistently. the corporate is attracting investments to learn from the impact of scale - the upper the investment, the upper the come. <br>
                    Join us, get in into your financial well-being!

                </p>
            </div>
        </div>
        <div class="affiliate">
            <img src="~/Images/bitcoins-large2.jpg" alt="BITSPAYU" />
        </div>
    </div>
    <div class="arrow"></div>
</section>



<div class="container">
    <div class="m_reviews">
        <div data-parallaxify-range-x="-30" class="parallax ip_parallax_1"></div>
        <div data-parallaxify-range-x="30" class="parallax ip_parallax_2"></div>
        <div class="container clearfix">



            <h1 class="fgtnh">Gallery Testimonials</h1>
            <div class="separator_2"><span></span></div>
            <div class="rev_carousel">
                <ul class="slides clearfix">


                    <li>
                        <div class="test_img"><img src="~/Images/bitcoin-new3.jpg" /></div>
                    </li>
                    <li>
                        <div class="test_img"><img src="~/Images/bitcoin-new4.jpg" /></div>
                    </li>
                    <li>
                        <div class="test_img"><img src="~/Images/bitcoin-new5.jpg" /></div>
                    </li>

                    <li>
                        <div class="test_img"><img src="~/Images/bitcoin-new6.jpg" /></div>
                    </li>
                    <li>
                        <div class="test_img"><img src="~/Images/bitcoin-new7.jpg" /></div>
                    </li>
                    <li>
                        <div class="test_img"><img src="~/Images/bitcoin-new1.jpg" /></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>