
@{
    ViewBag.Title = "News::";
    <style>
        .header .h_bottom {
            position: relative;
            color: #fff;
            background: #262626;
            margin-top: 114px;
            min-height: 0px;
        }

        .inv_plans .plans_cont li {
            float: left;
            width: 235px;
            margin-left: 15px;
            cursor: pointer;
        }

        ul.btciqt-saroj {
            margin-top: 41px;
        }

        img.coming-soon {
            width: 81px;
            position: absolute;
            margin-top: -80px;
            z-index: 1000;
            margin-left: -38px;
        }
    </style>
}

<form name="aspnetForm" method="post" action="./news-center.aspx" id="aspnetForm">
    <div>
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEwMDUyNjYzMjhkZPS96R4l5Ib3Ve1SbzFYf7my9SsQ" />
    </div>

    <div>

        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="2A0E32C6" />
    </div>
    <div>
        <div id="main-other">
            <div id="sub-other">
                <div class="other-head">
                    <h1>NEWS CENTER</h1>
                </div>
            </div>
        </div>
        <section class="inv_plans">
            <div data-parallaxify-range-x="-30" class="parallax ip_parallax_1" style="background-position: -304.5px 0px;"></div>
            <div data-parallaxify-range-x="30" class="parallax ip_parallax_2" style="background-position: -327.5px 0px;"></div>
            <div class="container">
                <ul class="plans_cont btciqt-saroj clearfix">
                    <li class="plan_1 calc_link">
                        <div class="plan_title">
                            <img src="~/Images/comin.png" class="coming-soon">
                            <div class="icon"><img src="img/icon-plan.png"></div>
                            <p>
                                <span class="s1">
                                    $5001-$8000<br>2%
                                </span>
                            </p>
                        </div>
                        <div class="plan_info">
                            <div>- Minimum: <span>$5001</span></div>
                            <div>- Maximum: <span>$8000</span></div>
                            <div>- Daily:<span>Return</span></div>
                            <div>- Total Days:<span>100 days</span></div>
                        </div>
                        <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                    </li>
                    <li class="plan_2 calc_link">
                        <div class="plan_title">
                            <img src="~/Images/comin.png" class="coming-soon">
                            <div class="icon"><img src="img/icon-plan.png"></div>
                            <p>
                                <span class="s1">
                                    $8001-$10,000 <br>2.5%
                                </span>
                            </p>
                        </div>
                        <div class="plan_info">
                            <div>- Minimum: <span>$8001</span></div>
                            <div>- Maximum: <span>$10,000</span></div>
                            <div>- Daily:<span>Return</span></div>
                            <div>- Total Days:<span>100 days</span></div>
                        </div>
                        <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                    </li>
                    <li class="plan_3 calc_link">
                        <div class="plan_title">
                            <img src="~/Images/comin.png" class="coming-soon">
                            <div class="icon"><img src="~/Images/icon-plan.png"></div>
                            <p>
                                <span class="s1">
                                    $10,001-$12,500<br>2.5%
                                </span>
                            </p>
                        </div>
                        <div class="plan_info">
                            <div>- Minimum: <span>$10,001</span></div>
                            <div>- Maximum: <span>$12,500</span></div>
                            <div>- Daily:<span>Return</span></div>
                            <div>- Total Days:<span>100 days</span></div>
                        </div>
                        <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                    </li>
                    <li class="plan_4 calc_link">
                        <div class="plan_title">
                            <img src="~/Images/comin.png" class="coming-soon">
                            <div class="icon"><img src="~/Images/icon-plan.png"></div>
                            <p>
                                <span class="s1">
                                    $12,501-$15,000<br>2.5%
                                </span>
                            </p>
                        </div>
                        <div class="plan_info">
                            <div>- Minimum: <span>$12,001</span></div>
                            <div>- Maximum: <span>$15,000</span></div>
                            <div>- Daily:<span>Return</span></div>
                            <div>- Total Days:<span>100 days</span></div>
                        </div>
                        <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                    </li>
                </ul>
            </div>
    </section>
    </div>
</form>

