
@{
    ViewBag.Title = "Plan::";
    <style>
        .header .h_bottom {
            position: relative;
            color: #fff;
            background: #262626;
            margin-top: 114px;
            min-height: 0px;
        }

        ul.gtyuer {
            margin-top: 30px;
        }

        .inv_plans .plans_cont li {
            float: left;
            width: 235px;
        }
    </style>
}
<div>
    <div id="main-other">
        <div id="sub-other">
            <div class="other-head">
                <h1>PLAN</h1>
            </div>
        </div>
    </div>

    <section class="inv_plans">
        <div data-parallaxify-range-x="-30" class="parallax ip_parallax_1" style="background-position: -307.5px 0px;"></div>
        <div data-parallaxify-range-x="30" class="parallax ip_parallax_2" style="background-position: -324.5px 0px;"></div>
        <div class="container">


            <ul class="plans_cont clearfix">
                <li class="plan_1 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">$10-$100<br>2%
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$10</span></div>
                        <div>- Maximum: <span>$100</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>100 Days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href='/account/register'">Sign up</span></div>
                </li>
                <li class="plan_2 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">$101-$250<br>2%
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$101</span></div>
                        <div>- Maximum: <span>$250</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>100 Days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                </li>
                <li class="plan_3 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">$251-$500<br>2%
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$251</span></div>
                        <div>- Maximum: <span>$500</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>100 Days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                </li>

                <li class="plan_1 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">
                                $501-$800<br>2%
                            </span>
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$501</span></div>
                        <div>- Maximum: <span>$800</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>100 days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                </li>
            </ul>
            <ul class="plans_cont clearfix gtyuer">
                <li class="plan_1 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">$801-$1000<br>2%
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$801</span></div>
                        <div>- Maximum: <span>$1,000</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>100 Days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                </li>
                <li class="plan_2 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">$1001-$1500<br>2%
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$1001</span></div>
                        <div>- Maximum: <span>$1500</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>100 Days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                </li>
                <li class="plan_3 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">$1501-$2,500<br>2%
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$1501</span></div>
                        <div>- Maximum: <span>$2,500</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>100 Days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                </li>

                <li class="plan_1 calc_link">
                    <div class="plan_heading"><span>COINSWAYS</span></div>
                    <div class="plan_title">
                        <p>
                            <span class="s1">
                                $2,501-$5,000<br>2%
                            </span>
                        </p>
                    </div>
                    <div class="plan_info">
                        <div>- Minimum: <span>$2,501</span></div>
                        <div>- Maximum: <span>$5,000</span></div>
                        <div>- Daily:<span>Return</span></div>
                        <div>- Total Days:<span>100 days</span></div>
                    </div>
                    <div class="plan_button"><span onclick="window.location.href = '/account/register'">Sign up</span></div>
                </li>
            </ul>

        </div>
    </section>
</div>


